@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* || RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */
:root {
  --FF: "Work Sans", sans-serif;
  --HEADER-FONT-COLOR: #131313;
}

/* || GENERAL STYLES */
body {
  font-family: var(--FF);
  max-width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.btn-primary {
  font: inherit;
  background: #ff900e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  border-radius: 8px;
  padding: 20px 24px;
  margin: 32px 0 50px 0;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: hsl(32, 100%, 48%);
}

/* || HEADER */
.header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 0 45px 0;
  margin-bottom: 85px;
}

/* NAV */
.header__nav {
  margin: 0 240px 102px 228px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav--home a {
  color: var(--HEADER-FONT-COLOR);
  font-size: 45px;
  font-weight: 700;
}

.header__nav--ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.header__nav--ul a {
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.header__nav--ul a:hover,
.header__nav--ul a:focus {
  background-color: #424242;
  color: hsl(32, 100%, 53%);
}

.header__title {
  width: 862px;
  color: var(--HEADER-FONT-COLOR);
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin: 0 auto 1rem;
}

.header__description {
  width: 868px;
  margin: 0 auto;
  text-align: center;
  color: #727272;
  line-height: 26px;
}

.btn-container {
  text-align: center;
}

.header-img-container {
  width: 1440px;
  height: auto;
  margin: 0 auto;
}

/* || MAIN SECTION */
/* FEATURES SECTION */
.features {
  /* border: 1px solid dodgerblue; */
  margin: 0 301px 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}

.features__card--container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.features__description {
  width: 50%;
}

.features__description > h3 {
  width: 468px;
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.features__description .gray {
  color: #727272;
  font-weight: 500;
}

.features__description .orange {
  color: #ff900e;
}

.features__description > p {
  width: 537px;
  color: #727272;
  line-height: 26px;
  margin-bottom: 2rem 0;
}

/* MORE FEATURES */
.more-features {
  margin: 0 240px;
  display: flex;
  gap: 120px;
  margin-bottom: 120px;
}

.more-features-types {
  width: 50%;
}

.more-features-types > h3 {
  width: 468px;
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  padding-left: 21px;
  border-left: 5px solid #ff900e;
}

.more-features-types > p {
  width: 586px;
  color: #727272;
  line-height: 26px;
  margin-bottom: 30px;
}

.more-features-types > div {
  margin-bottom: 20px;
  padding: 30px 43px 30px 30px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.more-features-types > div > h5 {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.more-features-types > div > p {
  width: 514px;
  color: #727272;
  line-height: 26px;
}

.more-features-img {
  width: 50%;
  padding-bottom: 4rem;
  border-radius: 8px;
}

.hide {
  display: none;
}

/*///////////////////////////////
            MEDIA QUERY
////////////////////////////////*/

/* || MOBILE DEVICES */
@media screen and (max-width: 576px) {
  /* header */
  .header {
    padding: 1rem;
    margin: 0 0 48px 0;
  }
  .header__nav {
    display: block;
    margin: 0;
  }
  .header__nav--home {
    font-size: 30px;
    text-align: center;
  }
  .header__nav--home a {
    font-size: 24px;
  }
  .header__nav--ul {
    gap: 0.5rem;
    justify-content: space-evenly;
    margin: 1rem 0 2rem;
  }
  .header__title {
    width: 100%;
    font-size: 2rem;
    line-height: 1.4;
  }
  .header__description {
    width: 100%;
    text-align: justify;
  }
  .btn-primary {
    font-size: 1rem;
    padding: 1rem;
  }
  .header-img-container {
    width: 100%;
  }

  /* features */
  .features {
    margin: 1rem;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .features__card--container {
    width: 100%;
    display: block;
  }
  .features__card--container > .card {
    border: 1px solid skyblue;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  .features__description {
    width: 100%;
  }
  .features__description > h3,
  .features__description > p {
    width: 100%;
  }
  .features-btn-container {
    text-align: center;
  }

  /* more features */
  .more-features {
    border-top: 2px solid #666;
    margin: 4rem 1rem 0;
    flex-direction: column-reverse;
    gap: 0;
    padding-top: 3rem;
  }
  .more-features-types {
    width: 100%;
  }
  .more-features-types > h3 {
    width: 100%;
    text-align: center;
  }
  .more-features-types > p {
    width: 100%;
  }
  .more-features-types > div {
    padding: 0;
  }
  .more-features-types > div > p {
    width: 100%;
    padding: 0 1rem;
    text-align: justify;
  }
  .more-features-img {
    width: 100%;
  }
}
